
<h1>
    Good morning
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consequatur, neque aspernatur, distinctio provident fugit tenetur obcaecati eius mollitia iste rerum aliquam eveniet quasi unde. Enim nesciunt maxime non natus?
</p>
<table>
    <tbody>
        <tr>
            <td>
                <input type="text">
            </td>
        </tr>
    </tbody>
</table>

<button (click)="openChildDialog()">Open child</button>
<button mat-dialog-close mat-raised-button color="warn">Close</button>